<% include partials/navbar %>

    <div id="map"></div>


    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin=""></script>

    <script defer="defer" type="text/javascript">
        var customControl = L.Control.extend({

            options: {
                position: 'topleft'
            },
            onAdd: function(map) {
                var container = L.DomUtil.create('input');
                container.type = "button";
                container.title = "Go to Santos";
                container.value = "Santos";
                container.onmouseover = function() {
                    container.style.backgroundColor = 'pink';
                }
                container.onmouseout = function() {
                    container.style.backgroundColor = 'white';
                }
                container.onclick = function() {
                    console.log('buttonClicked');
                    map.setView([38.706741, -9.152644], 16);
                }

                return container;
            }
        });

        var map = L.map('map').setView([38.706741, -9.152644], 16);
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: 'pk.eyJ1IjoibG9yZTQ3MyIsImEiOiJjamJkZnJwOHgxaDczMnBvZjF1NjdzaWp5In0.7LvZDR8hnbAFdrtEI6NuSw'
        }).addTo(map);
        map.addControl(new customControl());


        var GeoSearchControl = window.GeoSearch.GeoSearchControl;
        var OpenStreetMapProvider = window.GeoSearch.OpenStreetMapProvider;
        var provider = new OpenStreetMapProvider({});

        var searchControl = new GeoSearchControl({
            provider: provider,
            style: 'bar',
            showMarker: false,
            marker: {
                draggable: true
            },
            autoClose: true,
            keepResult: true,
        });


        map.addControl(searchControl);


        /* Create new layer for markers  */
        map.on('geosearch/showlocation', function(e) {
            $("#lat").val(e.location.y);
            $("#lng").val(e.location.x);

        });


        map.on('geosearch/marker/dragend', function(e) {
            $("#lat").val(parseFloat(e.location.lat));
            $("#lng").val(parseFloat(e.location.lng));
        });

        /**/

        var coordinatespoly1 = [
            [38.706763, -9.153988],
            [38.706725, -9.152288],
            [38.707587, -9.152331],
            [38.707595, -9.153988]
        ];
        var poly1 = L.polygon([coordinatespoly1]).addTo(map);
        var legend = L.control({
            position: 'topright'
        });
        legend.onAdd = function(map) {
          
                var div = L.DomUtil.create('div', 'info legend');
                div.innerHTML = '<select id="pins"><% for (var i = 0; i < videos.length; i++){ %><option value="<%=videos[i].location.coordinates%>"><%=videos[i].title%></option><% } %></select><button onclick="goTo()">go</button>';
                div.firstChild.onmousedown = div.firstChild.ondblclick = L.DomEvent.stopPropagation;
                return div;
        }
                legend.addTo(map);

                function goTo() {
                    var selection = document.getElementById("pins");
                    var usrSel = selection.value;
                    var xcoords = usrSel.substring(0,usrSel.indexOf(','));
                    var ycoords = usrSel.substring(usrSel.indexOf(',')+1,usrSel.length-1);
                  
                    map.setView([xcoords, ycoords], 10);
                }
                <% for (var i = 0; i < videos.length; i++){ %>
                var newMarker = new L.marker([<%=videos[i].location.coordinates%>]).addTo(map)
                    .bindPopup('Go to <a href="/videos/<%=videos[i]._id%>"><%=videos[i].title%></a>')
                map.setView([38.706741, -9.152644], 2);
                <% } %>

    </script>
    <% include partials/footer %>