<% include partials/navbar %>

    <div class="container-fluid" id="videoPlayer">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <video id="player" playsinline controls>
                    <source src="<%=video[0].path%>" type="video/mp4">
                </video>
            </div>

            <div id="videoPlayerInfo" class="col-lg-6 col-md-6 tags">
                <form method="POST" action="/videos/<%=video[0]._id%>/update/">
                    <label id="priceInfoLabel"><input value="<%=video[0].price%>" type="number" id="priceInfo" name="price" class="videoInfo">€</label>
                   <hr>
                    <input value="<%=video[0].title%>" type="text" id="titleInfo" name="title" class="videoInfo">
                    <br>
                    <input value="<%=video[0].description%>" type="text" name="description" class="videoInfo">
                    <br>
                    <label id="tagsInfoLabel">Tags: <input value="<%=video[0].tags%>" type="text" name="tags" id="tagsInfo" class="videoInfo"></label>
                    <h3>Author:
                        <%=video[0].author%>
                    </h3>
                    <h3>Category:
                        <%=video[0].category%>
                    </h3>
                    <h3>Date:
                        <%var fulldate = video[0].date %>
                        <%=fulldate.toISOString().substring(0, 10) %>
                        <%=fulldate.toISOString().substring(11, 16) %>
                    </h3>
                    <h3>See
                        <a id="modal_trigger2" href="#modal2">Location</a> in map
                    </h3>
 <% if(currentUser && currentUser.username == video[0].author){ %>
                    <div class="one_half ">
                        <button id="saveEditButton" class="btn btn_green" type="submit">Save</button>
                    </div>
                </form>
                     <div class="one_half ">
                        <button id="editButton" class="btn btn_red">Edit</button>
                     </div> 
                      <div class="one_half ">
                        <button id="cancelEditButton" class="btn btn_redder">Cancel</button>
                     </div>
                        <%}%>

                        <button id="modal_trigger_buy" href="#buy_modal" class="btn btn_red">Buy</button>
            </div>
        </div>
    </div>


<div id="buy_modal" class="buyPopupContainer" style="display:none;">
                <header class="popupHeader">

                    <span class="header_title">Checkout</span>
                    <span class="modal_close"><i class="fa fa-times"></i></span>
                </header>

                <section class="popupBody">
                    <div id="buy_modal" class="buyModal">

<% if (currentUser && currentUser.type == "buyer"){ %>

                            <h4>Make sure this email is connected to your paypal: <%=currentUser.email %> </h4>
                            <br>
                            <h4>LICENSE START DATE: <label><% var date = new Date();%>  <%= date.toISOString().substring(0, 10) %></label></h4>
                            <h4>BASE PRICE: <label><% var basePrice = video[0].price - (video[0].price*0.3)%> <%= basePrice%> €</label></h4>
                            <h4>SERVICE COST (30%): <label><%=(video[0].price*0.3)%> €</label></h4>
                            <hr>
                            <h4>TOTAL PRICE: <label><%= video[0].price%> €</label></h4>
                            <br>
                        <div class="one-half">
                        <button class="btn btn_green showButton">Confirm</button>
                         <button class="btn btn_redder showButton">Decline</button>
                        </div>
<% }else{ %>

<h4>Please <a href="/signup">click here</a> to create an account or log in as a buyer.</h4>

<%}%>
                    </div>

                </section>
            </div>




    <div id="modal2" class="popupContainer" style="width:1040px;height:630px; display:none;">

        <section class="popupBody">
            <div id="modal2" class="video_map">
                <div id="map" class="mapContainer">
                    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
                        crossorigin=""></script>

                    <script defer="defer" type="text/javascript">
                        var map = L.map('map').setView([38.706741, -9.152644], 16);
                        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
                            maxZoom: 18,
                            id: 'mapbox.streets',
                            accessToken: 'pk.eyJ1IjoibG9yZTQ3MyIsImEiOiJjamJkZnJwOHgxaDczMnBvZjF1NjdzaWp5In0.7LvZDR8hnbAFdrtEI6NuSw'

                        }).addTo(map);

                        var newMarker = new L.marker([<%=video[0].location.coordinates%>]).addTo(map);
                        map.setView([<%=video[0].location.coordinates%>], 10);
                    </script>
                </div>
            </div>

        </section>
    </div>

    <script src="https://cdn.plyr.io/3.3.5/plyr.js"></script>
    <script>
        const player = new Plyr('#player');
    </script>



    <% include partials/footer %>
